@model Pren.Web.Models.ViewModels.CodePortalOfferBlockViewModel

<div class="row code-offer">
    <div class="col-md-12">
        <h2>@Html.PropertyFor(model => model.CurrentBlock.Heading)</h2>
    </div>
    <div class="col-md-4">
        @Html.PropertyFor(model => model.CurrentBlock.Instructions)
        <div class="user-code-container"
             data-listid="@Model.CodeListId"
             data-codeinfo="@Model.CurrentBlock.CodeInfo"
             data-buttontext="@Model.CurrentBlock.ButtonText"
             data-notavailabletext="@HttpUtility.HtmlEncode(Model.CurrentBlock.CodeNotAvailableText)">
            <div class="code-error alert-danger displaynone">
                Ett fel uppstod, var god försök senare.
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="code-offer-img-container" @Html.EditAttributes(x => x.CurrentBlock.Image)>
            <img src="@Url.ContentUrl(Model.CurrentBlock.Image)" alt="@Model.CurrentBlock.Heading">
        </div>
        <div class="terms-text">
            @Html.PropertyFor(model => model.CurrentBlock.TextBelowImage)
        </div>
    </div>
</div>